{{ log_path }}/*.log {
    daily
    rotate {{ log_retention_days }}
    missingok
    notifempty
    compress
    delaycompress
    create 640 {{ project_user }} {{ project_group }}
    sharedscripts
    postrotate
        /usr/bin/docker-compose -f {{ project_path }}/docker-compose.yml kill -s USR1 backend
    endscript
}